<h1>Values#index</h1>

<p>FizzBuzz Logs</p>

<h2><%= @values_count %> times FizzBuzz !!</h2>

<% @values.each do |value| %>
  <div>
    <p>---------------------------</p>
    <p>id: <%= value.id %></p>
    <p>input: <%= value.input %></p>
    <p>output: <%= value.output %></p>
  </div>
<% end %>
